$colorPalette: (
  Background: #ffffff,
  Primary: #071eb3,
  Secondary: #1515e3,
  Accent: #e05d25,
  TextTestimonial: #fbf8f9,
  TextGray: #434d53
);

$fontFamily: (

        Roboto: "Roboto Slab" ,
        Martel: "Martel Sans"
);
