.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  list-style-type: none;
  grid-area: navBar;
}

.navBar_link1 {
  background-color: #00aeae;
  margin-left: 20px;

}
.navBar_link2 {
  background-color: #e2ff88;
  margin-left: 180px;

}
.navBar_link3 {
  background-color: #79ffb0;
  margin-left: 20px;

}
.navBar_link4 {
  background-color: #9153ff;
  margin-left: 20px;

}
.navBar_link5 {
  background-color: #ff33ce;
  margin-left: 20px;

}
